* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a3c2f;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background: #0d614b;
    padding: 40px 60px;
}

.container h2 {
    font-size: 3em;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.container .reset {
    margin-top: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    color: #0d614b;
    font-weight: 300;
    cursor: pointer;
}

.container .reset:focus {
    color: #fff;
    background: #267c65;
}

.container .game {
    width: 440px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transition: 0.25s;
    transform: rotateY(180deg);
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item:after{
    content: '';
    position: absolute;
    inset: 0;
    background: #209d7b;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after ,
.boxMatch:after {
    transform: rotateY(180deg);
}

@media (max-width: 768px) {
    .container {
        padding: 30px 40px;
    }

    .container h2 {
        font-size: 1.5em;
    }

    .item {
        width: 60px;
        height: 60px;
        font-size: 1.5em;
    }

    .container .game {
        width: 300px;
        height: auto;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .container h2 {
        font-size: 1.2em;
    }

    .item {
        width: 50px;
        height: 50px;
        font-size: 1.2em;
    }

    .container .game {
        width: 240px;
        height: auto;
    }
}